/* Add any additional component-specific styles here */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--background);
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--background);
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 4px;
  }
  
  